.header {
    .header-box {
        padding: 64px 0 165px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    ul {

        display: flex;
        align-items: center;
        gap: 0 42px;

    }

    a {
        color: #5FB4A2;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .header-link {
        color: #33323D;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}